services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: super_secret
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  app:
    build:
      context: ./casino-nmtp-backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: app
      DB_USER: app
      DB_PASSWORD: super_secret
    ports:
      - "8080:8080"
    # Добавляем имя сети для связи с фронтендом
    networks:
      - app-network

  frontend:
    build:
      context: ./casino-nmtp/nmtp-front
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network
    volumes:
      - ./casino-nmtp/nmtp-front/nginx.conf:/etc/nginx/conf.d/default.conf:ro

networks:
  app-network:
    driver: bridge
    name: app-network

volumes:
  pg_data:
